.jumbotron {
    background-color: #c3d4b3;
}
.display-4 {
    display: inline;
}
.btn {
    align-self: center;
    border-color: #372a0c;
    border-radius: 20px;
}

.btn:hover {
    border-color: #372a0c;
}
.createbtn {
    display: ruby-base;
    color: white;
    vertical-align: super;
    background-color: #3e721e;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    width: 25%;

  }
  
.createbtn:hover {
    color: white;
    background-color: #8cc63f;

}

.table {
    width: 135%;
}