.tickets-master-table {
  tr {
    cursor: pointer;
    &:hover {
      background-color: #e2f8e9;
    }
  }
}
.jumbotron {
  background-color: #8cc63f;
  box-shadow: 5px 10px #1f6a39;
  border-radius: 0;
}
.display-4 {
  display: inline;
}
.btn {
  align-self: center;
  border-radius: 20px;
}

.createbtn {
  position: relative;
  display: inline;
  color: white;
  background-color: #3e721e;
  margin-left: 74%;
  width: 25%;
}

.createbtn:hover {
  color: white;
  background-color: #4b642a;
}

.table {
  width: 100%;
}
