.home-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #8cc63f;
    height: auto;
    min-width: 50%;
    max-width: 1045px; 
    h1 {
        font-weight: bold;
    }

 .flex-row-center {
     display:flex;
     flex-flow: row nowrap;
     
    #HomeLogo {
        width: 335px;
        margin: 0 0 0 15px;

    }
 }

}